.ItemListContainer {
   padding: 80px;
   text-align: center;
}

.buttomCount button {
   color: #edf0f1;
   padding: 9px 25px;
   margin: 30px;
   background-color: #24252A;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
}